<div class="@@cssClass" >
    <div id="owlCards">
        <div class="item banner-0 col-xs-12 col-sm-6 col-md-4">
            <div class="info">
                <div class="hgroup">
                    <div class="group-0">
                        <div class="info-0">
                            <span class="i-0-0">10</span>
                            <span class="i-0-1">GB</span>
                        </div>
                        <div class="info-1">
                            <span class="i-1-0">(5GB + 5GB de bônus)</span>
                        </div>
                    </div>
                </div>
                <div class="cgroup">
                    <div class="group-0">
                        <div class="info-2">
                            <span class="i-2-1">+ ligações<br/>
                                <span class="i-2-1-1">ilimitadas</span>
                            </span>
                            
                        </div>
                        <div class="info-3">
                            <span class="i-3-0">para qualquer operadora</span>
                            <span class="i-3-1">para todo brasil</span>
                        </div>
                    </div>
                    <div class="group-1">
                        <div class="info-0">
                            <span class="i-0-0"></span>
                        </div>
                        <div class="info-1">
                            <span class="i-1-0">R$</span>
                            <span class="i-1-1">99</span>
                            <span class="i-1-2">,99<br/>
                                <span class="i-1-2-1">/mês</span>
                            </span>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item banner-1 col-xs-12 col-sm-6 col-md-4">
            <div class="info ">
                <div class="hgroup">
                    <div class="group-0">
                        <div class="info-0">
                            <span class="i-0-0">20</span>
                            <span class="i-0-1">GB</span>
                        </div>
                        <div class="info-1">
                            <span class="i-1-0">(10GB + 10GB de bônus)</span>
                        </div>
                    </div>
                </div>
                <div class="cgroup">
                    <div class="group-0">
                        <div class="info-2">
                            <span class="i-2-1">+ ligações<br/>
                                <span class="i-2-1-1">ilimitadas</span>
                            </span>
                            
                        </div>
                        <div class="info-3">
                            <span class="i-3-0">para qualquer operadora</span>
                            <span class="i-3-1">para todo brasil</span>
                        </div>
                    </div>
                    <div class="group-1">
                        <div class="info-0">
                            <span class="i-0-0"></span>
                        </div>
                        <div class="info-1">
                            <span class="i-1-0">R$</span>
                            <span class="i-1-1">169</span>
                            <span class="i-1-2">,99<br/>
                                <span class="i-1-2-1">/mês</span>
                            </span>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item banner-2 col-xs-12 col-sm-6 col-md-4">
            <div class="info ">
                <div class="hgroup">
                    <div class="group-0">
                        <div class="info-0">
                            <span class="i-0-0">40</span>
                            <span class="i-0-1">GB</span>
                        </div>
                        <div class="info-1">
                            <span class="i-1-0">(20GB + 20GB de bônus)</span>
                        </div>
                    </div>
                </div>
                <div class="cgroup">
                    <div class="group-0">
                        <div class="info-2">
                            <span class="i-2-1">+ ligações<br/>
                                <span class="i-2-1-1">ilimitadas</span>
                            </span>
                            
                        </div>
                        <div class="info-3">
                            <span class="i-3-0">para qualquer operadora</span>
                            <span class="i-3-1">para todo brasil</span>
                        </div>
                    </div>
                    <div class="group-1">
                        <div class="info-0">
                            <span class="i-0-0"></span>
                        </div>
                        <div class="info-1">
                            <span class="i-1-0">R$</span>
                            <span class="i-1-1">249</span>
                            <span class="i-1-2">,99<br/>
                                <span class="i-1-2-1">/mês</span>
                            </span>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <div class="buttons">
        <a href="#" class="btn-get-it-now btn-0" target="_blank" title="Adquirir agora">Adiquirir agora</a>
        <a href="#" class="btn-more-info btn-1" target="_blank" title="Mais Informações">Mais Informações</a>
    </div>
</div>