<div class="@@cssClass" id="owlPlans">
    <div class="item banner-0">
        <div class="img col-xs-12 col-sm-6"><img src="./img/banner/img-0.jpg"/></div>
        <div class="info col-xs-12 col-sm-6">
            <div class="box-tb">
                <div class="box-tb-c">
                    <div class="group-0">
                        <div class="info-0">
                            <span class="i-0-0">10</span>
                            <span class="i-0-1">GB</span>
                        </div>
                        <div class="info-1">
                            <span class="i-1-0">5 GB + 5 GB de bônus</span>
                        </div>
                        <div class="info-2">
                            <span class="i-2-0">+</span>
                            <span class="i-2-1">ligações<br/>
                                <span class="i-2-1-1">ilimitadas</span>
                            </span>
                            
                        </div>
                        <div class="info-3">
                            <span class="i-3-0">para qualquer operadora</span>
                            <span class="i-3-1">e para todo brasil</span>
                        </div>
                    </div>
                    <div class="group-1">
                        <div class="info-0">
                            <span class="i-0-0">apenas</span>
                        </div>
                        <div class="info-1">
                            <span class="i-1-0">R$</span>
                            <span class="i-1-1">99</span>
                            <span class="i-1-2">,99<br/>
                                <span class="i-1-2-1">/mês</span>
                            </span>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item banner-1">
        <div class="img col-xs-12 col-sm-6"><img src="./img/banner/img-0.jpg"/></div>
        <div class="info col-xs-12 col-sm-6">
            <div class="box-tb">
                <div class="box-tb-c">
                    <div class="group-0">
                        <div class="info-0">
                            <span class="i-0-0">20<span>
                                <span class="i-0-1">GB</span>
                            </div>
                            <div class="info-1">
                                <span class="i-1-0">10 GB + 10 GB de bônus</span>
                            </div>
                            <div class="info-2">
                                <span class="i-2-0">+</span>
                                <span class="i-2-1">ligações<br/>
                                    <span class="i-2-1-1">ilimitadas</span>
                                </span>
                                
                            </div>
                            <div class="info-3">
                                <span class="i-3-0">para qualquer operadora</span>
                                <span class="i-3-1">e para todo brasil</span>
                            </div>
                        </div>
                        <div class="group-1">
                            <div class="info-0">
                                <span class="i-0-0">apenas</span>
                            </div>
                            <div class="info-1">
                                <span class="i-1-0">R$</span>
                                <span class="i-1-1">169</span>
                                <span class="i-1-2">,99<br/>
                                    <span class="i-1-2-1">/mês</span>
                                </span>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item banner-2">
            <div class="img col-xs-12 col-sm-6"><img src="./img/banner/img-0.jpg"/></div>
            <div class="info col-xs-12 col-sm-6">
                <div class="box-tb">
                    <div class="box-tb-c">
                        <div class="group-0">
                            <div class="info-0">
                                <span class="i-0-0">40<span>
                                    <span class="i-0-1">GB</span>
                                </div>
                                <div class="info-1">
                                    <span class="i-1-0">20 GB + 20 GB de bônus</span>
                                </div>
                                <div class="info-2">
                                    <span class="i-2-0">+</span>
                                    <span class="i-2-1">ligações<br/>
                                        <span class="i-2-1-1">ilimitadas</span>
                                    </span>
                                    
                                </div>
                                <div class="info-3">
                                    <span class="i-3-0">para qualquer operadora</span>
                                    <span class="i-3-1">e para todo brasil</span>
                                </div>
                            </div>
                            <div class="group-1">
                                <div class="info-0">
                                    <span class="i-0-0">apenas</span>
                                </div>
                                <div class="info-1">
                                    <span class="i-1-0">R$</span>
                                    <span class="i-1-1">249</span>
                                    <span class="i-1-2">,99<br/>
                                        <span class="i-1-2-1">/mês</span>
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>