<div class="@@cssClass" id="contrateAgora">
    <a href="#" class="btn-hire-now">Contrate Agora</a>
    <div class="box-form">
        <ul>
            <li class="li-register">
                <p class="lbl-register">Faça seu cadastro <span class="break-xs"></span>e ligaremos para você.</p>
            </li>
            <li class="li-client">
                 <ul class="radio-client">
                    <li>                        
                        <input id="rdbCliente" name="client" type="radio" value="1">
                        <span class="checkmark"></span>
                        <label for="rdbCliente">Sou cliente</label>
                    </li>
                    <li>
                        <input id="rdbNCliente" name="client" type="radio" value="0">
                        <span class="checkmark"></span>           
                        <label for="rdbNCliente">Não sou cliente</label>    
                    </li>
                </ul>
            </li>
            <li class="li-inputs box-tb">
                <div class="box-left box-tb-c">
                    <ul class="row">
                        <li class="li-full-name col-xs-12">
                            <fieldset>
                                <input name="txtFullName" type="text" maxlength="50" id="txtFullName" tabindex="1" title="Campo Nome Completo é obrigatório" class="nome" placeholder="* Nome Completo">
                            </fieldset>
                        </li>
                         <li class="li-cpf-cnpj col-xs-12 col-sm-7">
                            <fieldset>
                                <input name="txtCpfCnpj" type="text" maxlength="50" id="txtCpfCnpj" tabindex="2" title="Campo CPF/CNPJ é obrigatório" class="cpjcnpj" placeholder="* CPF/CNPJ">
                            </fieldset>
                        </li>
                        <li class="li-phone col-xs-12 col-sm-5">
                            <fieldset>
                            <input name="txtTelefone" type="text" maxlength="50" id="txtPhone" tabindex="2" title="Campo CPF/CNPJ é obrigatório" class="telefone" placeholder="* Telefone">
                        </fieldset>
                        </li>
                    </ul>
                </div>
                <div class="box-right box-tb-c">
                     <button class="btn-enviar btn-0">ENVIAR</button>
                 </div>
            </li>
        </ul>
       
    </div>
</div>